<footer>
  <nav class="section-container">
    <div class="section links">
      <h3>Links</h3>
      <ul>
        <li><a [routerLink]="['/']">Home</a></li>
        <li>
          <a href="https://xlts.dev/" target="_blank" rel="noopener">XLTS.dev</a>
        </li>
      </ul>
    </div>
    <div class="section social">
      <h3>Social</h3>
      <ul>
        <li><a href="https://twitter.com/xlts_dev" target="_blank" rel="noopener">Twitter</a></li>
        <li><a href="https://github.com/xlts-dev" target="_blank" rel="noopener">GitHub</a></li>
      </ul>
    </div>
    <div class="section contact">
      <h3>Contact</h3>
      <ul>
        <li>
          <a href="mailto:sales@xlts.dev" target="_blank">Sales</a>
        </li>
        <li>
          <a href="mailto:support@xlts.dev" target="_blank">Support</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="copyright-privacy">
    <div>
      Content and Design &copy;
      <a href="https://www.devintent.com/" target="_blank" rel="noopener">DevIntent</a> &
      <a href="https://herodevs.com/" target="_blank" rel="noopener">HeroDevs</a> 2020.
      <div>
        All Rights Reserved.
        <span matTooltip="Coming Soon"><a>Privacy Policy</a>.</span>
      </div>
    </div>
    <div id="disclaimer">
      The AngularJS icon is owned by Google LLC and is used under
      <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener"
        >CC BY 4.0</a
      >.
    </div>
  </div>
</footer>
