@import 'theme';
@import 'variables';
@import 'mixins';

:host {
  display: block;
}

footer {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  padding-top: 32px;
  background-color: mat-color($mat-gray, 50);
  font-size: 16px;

  nav.section-container {
    flex-flow: row wrap;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    width: 100%;
    max-width: 800px;

    .section {
      margin-top: 16px;
      flex: 0 1 33%;
      display: flex;
      flex-direction: column;

      h3 {
        color: $brand-primary;
        text-align: center;
      }
      ul {
        margin: 0 48px;
        padding: 0;

        li {
          list-style-type: none;
          padding: 6px 0;
          text-align: center;

          a {
            padding: 6px 0;
          }
        }
      }
    }
  }

  .links,
  .social,
  .contact,
  .copyright-privacy {
    a {
      text-decoration: none;
      color: $foreground-text;
    }
    a:hover {
      color: $brand-primary;
      opacity: 1;
      text-decoration: underline;
    }
  }
  .copyright-privacy {
    font-size: 11px;
    margin: 32px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;

    div {
      text-align: center;

      &#disclaimer {
        font-size: 8px;
      }
    }
  }
}
