<main>
  <section>
    <div class="hero-image-container">
      <img
        class="hero-image angularjs"
        src="../../assets/angularjs-icon.svg"
        alt="AngularJS icon"
      />
    </div>
    <div class="hero-headers">
      <h1 class="hero mat-display-3">Extended Long Term Support</h1>
      <h1 class="second-hero mat-display-3">For AngularJS</h1>
      <hr class="angularjs" />
      <h1 class="quick-summary">
        With AngularJS LTS ending on July 1<sup>st</sup> 2021, take action to
      </h1>
      <h1 class="quick-summary">
        ensure that your investments will stay supported and secure.
      </h1>
    </div>
  </section>
  <section>
    <div class="details-container">
      <app-lts></app-lts>
      <app-xlts></app-xlts>
    </div>
  </section>
  <section>
    <app-contact-form id="contact-form"></app-contact-form>
  </section>
</main>
