@import 'theme';
@import 'variables';
@import 'mixins';

:host {
  display: block;
}

main {
  padding: 0 16px;
  max-width: 1200px;
  margin: 32px auto;

  @include breakpoint($large-handset) {
    margin: 64px auto;
  }

  section {
    color: $foreground-text;
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;

    @include breakpoint($large-handset) {
      margin-bottom: 64px;
    }

    .hero-headers {
      max-width: 800px;

      .hero,
      .second-hero {
        color: $brand-primary;
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 32px;

        @include breakpoint($large-handset) {
          font-size: 56px;
          line-height: 56px;
          margin-bottom: 32px;
        }
      }
      .second-hero {
        margin-bottom: 32px;

        @include breakpoint($large-handset) {
          margin-bottom: 16px;
        }
      }
      hr {
        margin-inline-start: 95px;
        background: $brand-primary;
        border: 3px solid $brand-primary;
        border-radius: 4px;
        padding: 1px;
        width: 311px;
        margin-bottom: 32px;
        display: none;

        @include breakpoint($large-handset) {
          display: block;
        }

        &.angularjs {
          width: 267px;
          margin-inline-start: 96px;
        }
      }
      .quick-summary {
        margin-bottom: 0;
        font-size: 14px;

        @include breakpoint($large-handset) {
          font-size: 24px;
        }
      }
      .hero-button {
        margin-top: 24px;
      }
    }
    .hero-image-container {
      display: none;
      flex: auto;
      align-items: flex-start;

      .hero-image {
        width: 200px;
        margin: auto;

        &:not(.angularjs) {
          opacity: 0.5;
        }
      }

      @include breakpoint(1080px) {
        display: flex;
      }
    }
    .details-container {
      display: flex;
      flex-flow: wrap;
      width: 100%;

      > * {
        flex: 1 1 100%;

        @include breakpoint($large-tablet) {
          flex: 1 1 50%;
        }
      }
    }
  }
}
