<div class="section-container">
  <h2>AngularJS XLTS Information</h2>
  <p>
    Prior to January 1<sup>st</sup> 2021 AngularJS XLTS will be forked from the latest AngularJS
    1.7.x. On January 1<sup>st</sup> 2021, AngularJS XLTS will become available to our customers.
  </p>
  <p>
    We will continue the exclusive focus on providing fixes to bugs that satisfy at least one of the
    following criteria:
  </p>
  <ul>
    <li>A security flaw is detected in AngularJS XLTS</li>
    <li>
      One of the major browsers releases a version that will cause current production applications
      using the AngularJS XLTS to stop working
    </li>
    <li>
      The jQuery library releases a version that will cause current production applications using
      AngularJS XLTS to stop working
    </li>
  </ul>
  <p>
    Applications that use NPM and are based on the latest AngularJS 1.7.x will be able to seamlessly
    move over to AngularJS XLTS by updating their <code>package.json</code> dependencies.
  </p>
  <a
    id="xlts-register"
    mat-raised-button
    target="_blank"
    rel="noopener"
    color="accent"
    href="https://docs.google.com/forms/d/e/1FAIpQLSfyZ90T6KgUBTKrXqTBxLvvaJdhmJk3Mkh3Hf7b7nUbqmzSqQ/viewform?usp=sf_link"
    >Register For Updates</a
  >
  <a
    id="xlts-email"
    mat-raised-button
    color="accent"
    target="_blank"
    href="mailto:xlts-sales@xlts.dev?subject=AngularJS XLTS Info"
    >Email Us</a
  >
</div>
