@import 'theme';

:host {
  display: block;
}

.mat-toolbar {
  padding: 0 32px;

  .banner-link {
    color: mat-color($foreground, text);
    text-decoration: none;

    img {
      vertical-align: middle;
      height: 42px;
    }
  }
  .spacer {
    flex: auto;
  }
}
