@import 'theme';
@import 'variables';
@import 'mixins';

:host {
  display: block;
}

.mat-toolbar {
  padding: 0 32px;

  .banner-link {
    color: mat-color($foreground, text);
    text-decoration: none;

    img {
      vertical-align: middle;
      height: 42px;
    }
  }
  .spacer {
    flex: auto;
  }
  #banner-register {
    margin-right: 16px;
    display: none;

    @include breakpoint($large-handset) {
      display: block;
    }
  }
}
