<mat-toolbar role="banner">
  <a href="https://xlts.dev" class="banner-link"
    ><img src="https://xlts.dev/assets/logo-black.svg" alt="XLTS.dev black logo"
  /></a>
  <span class="spacer"></span>
  <a
    id="banner-register"
    mat-stroked-button
    color="primary"
    target="_blank"
    rel="noopener"
    href="https://docs.google.com/forms/d/e/1FAIpQLSfyZ90T6KgUBTKrXqTBxLvvaJdhmJk3Mkh3Hf7b7nUbqmzSqQ/viewform?usp=sf_link"
    >Register For Updates</a
  >
  <a
    id="banner-email"
    mat-stroked-button
    color="primary"
    href="mailto:sales@xlts.dev?subject=AngularJS XLTS"
    >Email Us</a
  >
</mat-toolbar>
