<div class="section-container">
  <h2>AngularJS Long Term Support</h2>
  <p>
    On July 1<sup>st</sup> 2018, AngularJS entered a limited, 3 year
    <a
      href="https://docs.angularjs.org/misc/version-support-status#long-term-support"
      target="_blank"
      rel="noopener"
      >Long Term Support</a
    ><a href="#lts-clarification" class="lts-clarification-link"><sup>1</sup></a>
    period.
  </p>
  <p>
    The Angular team now focuses, exclusively, on providing fixes to bugs that satisfy at least one
    of the following criteria:
  </p>
  <ul>
    <li>A security flaw is detected in the 1.7.x branch of AngularJS</li>
    <li>
      One of the major browsers releases a version that will cause current production applications
      using AngularJS 1.7.x to stop working
    </li>
    <li>
      The jQuery library releases a version that will cause current production applications using
      AngularJS 1.7.x to stop working
    </li>
  </ul>
  <p>
    The Angular team will update the AngularJS 1.2.x branch if and only if a new, severe security
    issue is discovered.
  </p>
  <p id="lts-clarification">
    <sup>1</sup>AngularJS LTS is provided by the Angular team and not the XLTS.dev team.
  </p>
</div>
