@import 'theme';

:host {
  display: block;
}
.section-container {
  margin: 8px;

  h2 {
    color: $brand-primary;
  }
  .lts-clarification-link {
    text-decoration: none;
  }
  #lts-clarification {
    font-size: 10px;
    font-style: italic;
  }
}
