@import 'theme';

@include mat-core($custom-typography);
@include mat-core-theme($xlts-theme);
@include mat-toolbar-theme($xlts-theme);
@include mat-button-theme($xlts-theme);
@include mat-icon-theme($xlts-theme);
@include mat-tooltip-theme($xlts-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: mat-color($background, background);
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.mat-button-base {
  text-transform: uppercase;
}
